@inherits Umbraco.Web.Mvc.UmbracoViewPage<IWebPage>
@{ 
    var site = Model.Layout.HomePage;
}
<a class="nav-link @Html.Raw(Model.Content.Id == site.Content.Id ? "navi-link--active" : "")"
   href="@site.Content.Url">@site.Content.Name</a>
@foreach (var item in Model.Layout.MainNavigation)
{
    <a class="nav-link @(item.IsAncestorOrSelf(Model.Content) ? "nav-link--active" : null)"
       href="@item.Url">@item.Name</a>
}